.protfolioScreen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  .content {
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    .title {
      text-align: center;
      color: white;
      .main {
        font-size: 2.5rem;
        line-height: 1.5rem;
        letter-spacing: 12.5px;
        font-weight: bolder;
      }
      .sub {
        font-size: 1.5rem;
        letter-spacing: 3px;
        color: var(--menu-text-active);
      }
    }
    .profolios {
      display: flex;
      justify-content: center;
      .profolio {
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
