.portfolioCard {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 59, 80, 0.7);
  padding: 20px;
  overflow: scroll;
  .title {
    padding: 10px;
    border-bottom: 1.75px solid var(--main-border-color);
    .text {
      font-size: 2.5rem;
      color: var(--main-text-color);
      opacity: 0.8;
    }
    .sub {
      font-size: 1.5rem;
      color: var(--menu-text-color);
      text-transform: uppercase;
    }
  }
  .info {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1.75px solid var(--main-border-color);
    .infoContent {
      flex: 1;
      color: white;
      .infoItem {
        .infoTitle {
          padding: 10px;
          font-weight: bolder;
        }
        .value {
          padding: 0px 10px;
          color: var(--menu-text-color);
        }
      }
    }
    .infoContent.first {
      border-right: 1.75px solid var(--main-border-color);
    }
  }
}
