.protfolios {
  .content {
    display: flex;
    .profolio {
      position: relative;
      display: flex;
      transition: all 500ms;
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: cover;
      .mask {
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 300ms;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.75;
        background-color: var(--sub-background);
      }
      .title {
        text-align: center;
        transition: all 500ms;
        transition-delay: 300ms;
        color: white;
        margin: auto;
        opacity: 1;
        position: relative;
        z-index: 10;
        // display: none;
        .mainTitle {
          font-size: 1.75rem;
        }
        .subTitle {
          text-transform: uppercase;
          font-size: 1rem;
          color: var(--menu-text-color);
        }
      }
    }
  }
}
