.protfolios {
  height: calc(100vh - 64px);
  .content {
    display: flex;
    height: 100%;
    overflow: scroll;
    .profolioList {
      .profolioContent {
        width: 135px;
        background-color: rgba(25, 26, 28, 0.75);
        height: 100%;
        padding: 10px;
        overflow: scroll;
        box-shadow: 0 0 50px #2f2f2f;
        .profolio {
          margin: 10px 5px;

          box-shadow: 0 0 5px #6d6d6d;
          opacity: 0.5;
          position: relative;
          display: flex;
          transition: all 500ms;
          width: 100px;
          height: 100px;
          background-position: center;
          background-size: cover;
          .mask {
            position: absolute;
            top: 0px;
            left: 0px;
            transition: all 300ms;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.75;
            background-color: var(--sub-background);
          }
          .title {
            text-align: center;
            transition: all 500ms;
            transition-delay: 300ms;
            color: var(--menu-text-color);
            margin: auto;
            opacity: 1;
            position: relative;
            z-index: 10;
            // display: none;
            .mainTitle {
              font-size: 14px;
            }
            .subTitle {
              text-transform: uppercase;
              font-size: 12px;
              color: var(--menu-text-color);
            }
          }
        }
        .profolio.active {
          box-shadow: 0 0 15px #cccccc;
          opacity: 1;
          .title {
            color: white;
            .subTitle {
              color: var(--menu-text-color);
            }
          }
        }
        .profolio:hover {
          opacity: 1;
        }
      }
    }
    .main {
      width: calc(100vw - 135px);
      background-color: rgba(51, 59, 80, 0.6);
      padding: 10px 15px 0px;
    }
  }
}
@media screen and (max-width: 480px) {
  .protfolios {
    .content {
      display: inline-block;
      .profolioList {
        width: 100vw;
        height: 45px;
        overflow: scroll;
        .profolioContent {
          display: flex;
          float: left;
          width: 1200px;
          height: 100%;
          padding: 5px;
          .profolio {
            margin: 5px 5px;
            flex: 1;
            height: 25px;
            .title {
              // display: none;
              .mainTitle {
                font-size: 12px;
              }
              .subTitle {
                // text-transform: uppercase;
                display: none;
                // font-size: 12px;
                // color: var(--menu-text-color);
              }
            }
          }
        }
      }
      .main {
        width: 100vw;
        background-color: rgba(51, 59, 80, 0.6);
        padding: 3.5px 0px 0px;
      }
    }
  }
}
