:root {
  --sub-color: rgb(7, 209, 74);
  --sub-color-active: rgb(84, 210, 124);
  --main-background: rgb(111, 122, 138);
  --sub-background: rgb(51, 59, 80);
  --third-background: #202735;
  --main-border-color: rgba(0, 0, 0, 0.2);
  --main-text-color: white;
  --menu-text-color: rgb(147, 157, 171);
  --menu-text-active: #bec7d5;

  --input-text-color: white;
  --image-input-color: white;
  --group-active-color: #456686;
  --error-text: #f15252;

  --chat-other-start: #9d2fd6;
  --chat-other-end: #3c78f9;
  --chat-other-text: white;
  --chat-self-start: #b2c0d3;
  --chat-self-end: #b2c0d3;
  --chat-self-text: black;
}
